body{
  margin: 0;
  background-color: #D0D0D0;
}
html {
  scroll-behavior: smooth;
}
@font-face {
    font-family: "american_captain";
    src: url("American Font/AmericanCaptain.eot") format("eot");
    src: url("American Font/AmericanCaptain.ttf")format("ttf");
    src: url("AmericanCaptain/AnericanCaptain.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

#heading{
  background-color: #05090c;
  width:auto;
  height: 100vh;
}

#headlinetext{
  font-style: "american_captain" ;
  font-size: 15vh;
  color: white;
  text-align: center;
  padding-top: 50vh;
}
#Down{
  padding-bottom: 4vh;
  text-align: center;
}
#pauseblocks{
  background-color:#D0D0D0;
  width:auto;
  height: 30px;
}
.img{
  width: 45vh;
  height: auto;
  text-align: center;
}
#blocks1{
  background-color: #E8E8E8;
  border: 0.5vh solid black;
  padding-top: 3vh;
  padding-right: 3vh;
  padding-left: 2vh;
  margin-left: 1.5vh;
  margin-top: 1.5vh;
  margin-right: 2vh;
  float: right;
}
#img1{
  border: 9px solid #D3D3D3;
}
#blocks2{
  background-color: #E8E8E8;
  border: 0.5vh solid black;
  padding-top: 3vh;
  padding-right: 3vh;
  padding-left: 2vh;
  margin-left: 1.5vh;
  margin-top: 1.5vh;
  margin-right: 2vh;
  float: right;
}

#img2{
  border: 9px solid #D3D3D3;
}
#blocks3{
  background-color: #E8E8E8;
  border: 0.5vh solid black;
  padding-top: 3vh;
  padding-right: 3vh;
  padding-left: 2vh;
  margin-left: 1.5vh;
  margin-top: 1.5vh;
  margin-right: 130vh;
}
#img3{
  border: 9px solid #D3D3D3;
}
#pausetext{
  color: white;
  text-align: center;
  font-size: 40px;
  background-color: black;
  height: 60px;
  width: auto;
  margin-top: 50px;
}
.blockstext{
  font-size: 20px;
  color:black;
  padding-top: 25px;
}
#video1{
  text-align: center;
}
#bookend{
  background-color: #05090c;
  width: auto;
  height: 310px;
}
#bookendtext{
    font-style: CENTURY SCHOOLBOOK;
    font-size: 50px;
    color: white;
    text-align: left;
    padding-top: 20px;
    padding-left: 35px;
}
#datatext{
  font-size: 20px;
  color: white;
  margin-left: 50px;
}

